<div class="home__container">
	<app-card
		gameCover="assets/game1.jpg"
		gameLabel="Exclusive"
		gameType="PS4"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="assets/game1.jpg"
		gameLabel="Cooming soon"
		gameType="PS5"
		gamePrice="R$ 159,99"
	>
	</app-card>
	<app-card
	gameCover="assets/game1.jpg"
	gameLabel="Exclusive"
	gameType="PS4"
	gamePrice="R$ 129,99"
>
</app-card>
<app-card
	gameCover="assets/game1.jpg"
	gameLabel="New"
	gameType="PS5"
	gamePrice="R$ 159,99"
>
</app-card>
</div>
